{{#partial "content"}}
    <section class="landing-pg">
        <div class="land-left">
        </div>
        <div class="land-right">
        </div>

        <div class="success">
            <h3>Success <br>  <span> {{ item }} </span> <br> Has been created</h3>
        </div>
    </section>
{{/partial}}
{{> layout.hbs}}